<form action="/todo" method="POST" class="todo-form">
  <br />
  <input
    type="text"
    name="todo"
    placeholder="eg. watch new series in netflix"
    required
  />
  <button type="submit"><i class="far fa-plus-square"></i></button>
</form>
