<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs')%>
  <body>
    <nav>
      <h1>TODO LIST</h1>
    </nav>
    <section id="todo-list">
      <h1>404</h1>
    </section>

    <!-- Javascript -->
    <script>
      const date = document.querySelector('#date');
      const trashes = document.querySelectorAll('#delete');
      date.innerHTML = new Date().toLocaleDateString();
      trashes.forEach((trash) => {
        trash.addEventListener('click', (e) => {
          const item = e.target.innerHTML.replace(/ /g, '-');
          const endpoint = `/todo/${trash.dataset.doc}`;

          fetch(endpoint, {
            method: 'DELETE',
          })
            .then((res) => res.json())
            .then((data) => (window.location.href = data.redirect))
            .catch((err) => console.log(err));
        });
      });
    </script>
  </body>
</html>
