<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo || <%= title%></title>
    <link rel="shortcut icon" type="img/png" href="img/favicon.png" />
  </head>
  <body>
    <nav>
      <h1>TODO LIST</h1>
    </nav>
    <h1>OOPS :( Sorry</h1>
    <button><a href="/">Back to Home</a></button>

    <!-- Javascript -->
    <script>
      const date = document.querySelector('#date');

      date.innerHTML = new Date().toLocaleDateString();
    </script>
  </body>
</html>
